@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;;
    background-color: black;
    color: #fff;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.9);
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
    line-height: 1;
}

section {
    position: relative;
    width: 100vw; 
    overflow: hidden;
}

.hero, .outro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.work-item{
    height: 150vh; 
}

.work-item-img{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(25% 25%, 75% 40%, 100% 100%, 0% 100%);
    will-change: clip-path;
}

.work-item-name{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    z-index: 1;
}

.work-item-name h1{
    color: #fff;
}

@media (max-width: 1000px) {
    h1, .work-item-name h1{
        font-size: 2.5rem;
    }
}




